*{
	margin: 0px;
	padding:  0px;
	box-sizing: border-box;
}
body{
font-size:15px;
color:hsl(300, 43%, 22%);
font-weight:400;
font-family: 'League Spartan', sans-serif;
}
h1{
font-weight:1000;	
}
section{
color:hsl(303, 10%, 53%);
font-weight:700;
}
.rating-boxes{
margin-top:20px;
margin-bottom:20px;	
line-height:1.5;	
background-color: hsl(300, 24%, 96%);
padding: 0px 20px 0px 20px;
}
i{
color:gold;	
}
