*{
	margin: 0px;
	padding:  0px;
	box-sizing: border-box;
}
body{
font-size:15px;
color:hsl(300, 43%, 22%);
font-weight:400;
font-family: 'League Spartan', sans-serif;
}
header{
margin-top:30px;	
}
h1{
font-weight:1000;	
}
section{
color:hsl(303, 10%, 53%);
font-weight:700;
}
.rating-boxes{
margin-top:10px;
margin-bottom:10px
line-height:1.5;	
background-color:hsl(300, 24%, 96%);
width:80vw;
border-radius:10px
}
i{
color:gold;	
}
.flex{
display:flex;
justify-content:flex-start;
margin:20px;
}
.purple{
background-color:hsl(300, 43%, 22%);	
width : 80vw;
margin-bottom:10px;
margin-top:10px;
border-radius:10px
}
.flex-0bj-1{
padding: 0px 20px 0px 20px;
}
.thick{
font-weight:700;	
}
.pink-text{
color:hsl(333, 80%, 67%);	
}
.icon{
border-radius:50%;
height:42px;
width:auto
}
